.navbar { margin-bottom: 30px; } 
.navbar-brand { 
  color: rgba(66, 139, 202, 1) !important;
  font-size: 2em; 
  font-weight: bold; 
  text-shadow:  1px 1px 1px #666;
}
.navbar-brand span { font-size: .67em; margin: 0 0 0 3px; }
button.new { margin: 10px 10px 10px 30px; }
#addContact { padding: 0 10px 35px 10px;display: none; }
#contacts-table { margin-top: -20px; }
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 300px;
  margin: 20px auto;
}
.mfp-close {
  opacity: 0;
}